WECOM_CORP_ID=wxdd183412a7e728bd
WECOM_CORP_SECRET=AdrcK6RPoZlYVWC5EfdTVlDFj6oumGGLR7HJQ0ouwf4
WECOM_AGENT_ID=1000240
WECOM_DEFAULT_TOUSER=
WECOM_API_BASE_URL=https://qyapi.weixin.qq.com
WECOM_TOKEN_REFRESH_BUFFER=300
LOG_LEVEL=INFO
